.customModalBG {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  box-shadow: 0em -50em 0px 10em rgba(0, 0, 0, 0.8) inset;
  z-index: 3;
}

.customModalDialog {
  position: absolute !important;
  bottom: 250px;
  right: 790px;

  width: 400px;
  height: 500px;
  background: rgb(40, 40, 55);
  background: linear-gradient(344deg, rgba(40, 40, 55, 1) 0%, rgba(16, 16, 18, 1) 50%);
  box-shadow: 4px 6px 14px #00000036;
  border-radius: 3px;
  color: #f9f9f9;
  padding: 16px;
}
