.customModalDialog {
  background-color: red;
  position: absolute !important;
  bottom: 50%;
  right: 50%;
  z-index: 99999 !important;
  max-width: 25%;
}
.customModalBG {
  min-height: 100%;
  min-width: 100%;
  /* background-color: aqua; */
}
